<div class="modal" id="addContactModal" tabindex="-1" aria-labelledby="addContactModalTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title">Societe</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="add-contact-box">
              <div class="add-contact-content">
                <div  id="addContactModalTitle">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3 contact-name">
                        <input [(ngModel)]="company.firstName" type="text" id="c-name" class="form-control" placeholder="Name">
                        <span class="validation-text text-danger" style="display: none;"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3 contact-email">
                        <input [(ngModel)]="company.email" type="text" id="c-email" class="form-control" placeholder="Email">
                        <span class="validation-text text-danger" style="display: none;">Invalid Email</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3 contact-occupation">
                        <input [(ngModel)]="company.lastName" type="text" id="c-occupation" class="form-control" placeholder="LastName">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3 contact-phone">
                        <input [(ngModel)]="company.phone" type="text" id="c-phone" class="form-control" placeholder="Phone">
                        <span class="validation-text text-danger" style="display: none;">Invalid (Enter 10 Digits)</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mb-3 contact-location">
                        <input [(ngModel)]="company.address" type="text" id="c-location" class="form-control" placeholder="Location">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button (click)="createCompany()" id="btn-add" class="btn btn-success rounded-pill px-4" style="">Add</button>
            <button id="btn-edit" class="btn btn-success rounded-pill px-4" style="display: none;">Save</button>
            <button class="btn btn-danger rounded-pill px-4" data-bs-dismiss="modal"> Discard </button>
          </div>
        </div>
      </div>	
</div>
