<p-table #dt [columns]="cols" [value]="cars" [paginator]="true" [rows]="10" responsiveLayout="scroll">
	<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngFor="let col of columns">
				{{col.header}}
			</th>
		</tr>
		<tr>
			<th *ngFor="let col of columns">
				<p-columnFilter type="{{col.type}}" [field]="col.field" [matchModeOptions]="col.matchModeOptions"
					[matchMode]="'custom-equals'">
					<ng-template *ngIf="col.type == 'date'" pTemplate="filter" let-filter="filterCallback">
						<p-calendar  [(ngModel)]="beginDateFilterValue"
						(onSelect)="onBeginDateFilterSelect($event)" dateFormat="dd-mm-yy"></p-calendar>
						<p-calendar  [(ngModel)]="endDateFilterValue"
						(onSelect)="onEndDateFilterSelect($event)" dateFormat="dd-mm-yy"></p-calendar>
					 </ng-template>
				
				</p-columnFilter>
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowData let-columns="columns">
		<tr [pSelectableRow]="rowData">
			<td *ngFor="let col of columns">
				{{rowData[col.field]}}
			</td>
		</tr>
	</ng-template>
</p-table>